.navigation{
	display: inline-block;
	text-align: center;
	white-space: pre;
	padding-right: 40px;
}
h1{
	text-align: center;
	text-transform: uppercase;
	color: #28231F;
}

#nav{
	text-align: center;
}
img{
	vertical-align: middle;
}
.img-responsive.about{
	border-style:outset;
	border-width: 3px;
	border-color: black;
	margin-right:auto;
	margin-left: auto;

}
.line{
	height: 5px;
	width: 100%;
	background-color: #CA2515;
}
h3{
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
	color: #28231F;
}
h2{
	text-align: center;
	color: #28231F;
}
.carousel-inner{
	margin-top: 25%;
}

#recruit{
	background-color: #54767D;
	margin-top: 25%;
	margin-left: 25%;

}
.icons{
	display: inline-block;
}
.workpara{
	margin-top: 25%;
}
#linked{
	height:57px;
	width: 57px;
}
body{
	background-color: #E3D6C4;
}
p,li{
	color: #3F3C3A;
}
.resume{
	color: white;
}
#butts{
	background-color: #54767D;
}